<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
if (pageTitle == '') {
    pageTitle = config.title;
} else {
    pageTitle += ' | ' + config.title;
}
%>

<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
    <link rel="stylesheet" href="<%= url %>">
    <% }); %>
    <% } %>

    <% if(config.algolia.applicationID) {%>
    <script>
    var algolia = {
        'applicationID': '<%= config.algolia.applicationID%>',
        'apiKey': '<%= config.algolia.apiKey%>',
        'indexName': '<%= config.algolia.indexName%>'
    };
    </script>
    <%}%>

</head>
<body>

<div id="body" class="body">
    <%- partial('_partial/header')%>
    <div id="content" class="ui container">
        <div class="ui one column grid">
            <div class="column">
                <div id="content-outer">
                    <div id="content-inner">
                        <div class="ui main container">
                            <%- body %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <%- partial('_partial/footer')%>

    <% if(config.algolia.applicationID) {%>
        <%- partial('_partial/search-modal')%>
    <%}%>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
<!-- scripts list from theme config.yml -->
<% theme.scripts.forEach(function(url) { %>
<script src="<%= url %>"></script>
<% }); %>
<% } %>

<% if(config.algolia.applicationID) {%>
    <script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>
    <script src="/js/semantic-ui-algolia.js"></script>
<%}%>

</body>
</html>
