<div id="<%= post.layout %>-<%= post.slug %>" class="ui main container article-type-<%= post.layout %>" itemscope itemprop="blogPost">

    <div class="ui dividing header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
    </div>

    <div class="article-inner">

        <div class="article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
                <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
            <% } %>
            <% } else { %>
            <%- post.content %>
            <% } %>
        </div>

        <% if (!(post.excerpt && index)){ %>
        <%- partial('post/gallery') %>
        <% } %>

        <footer class="article-footer">
            <%- partial('post-description', {post: post}) %>
        </footer>
    </div>
    <% if (!index){ %>
        <%- partial('post/nav') %>
    <% } %>
</div>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</section>
<% } %>